@charset "UTF-8";
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSansLight.eot");
  src: url("../fonts/FiraSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSansLight.woff2") format("woff2"), url("../fonts/FiraSansLight.woff") format("woff"), url("../fonts/FiraSansLight.ttf") format("truetype"), url("../fonts/FiraSansLight.svg#FiraSansLight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/../fonts/FiraSans-Regular.eot");
  src: url("../fonts/FiraSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Regular.woff2") format("woff2"), url("../fonts/FiraSans-Regular.woff") format("woff"), url("../fonts/FiraSans-Regular.ttf") format("truetype"), url("../fonts/FiraSans-Regular.svg#../fonts/FiraSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Medium.eot");
  src: url("../fonts/FiraSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Medium.woff2") format("woff2"), url("../fonts/FiraSans-Medium.woff") format("woff"), url("../fonts/FiraSans-Medium.ttf") format("truetype"), url("../fonts/FiraSans-Medium.svg#FiraSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-ExtraBold.eot");
  src: url("../fonts/FiraSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-ExtraBold.woff2") format("woff2"), url("../fonts/FiraSans-ExtraBold.woff") format("woff"), url("../fonts/FiraSans-ExtraBold.ttf") format("truetype"), url("../fonts/FiraSans-ExtraBold.svg#../fonts/FiraSans-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/***********************Main*/
header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.header__title {
  position: absolute;
  top: 15px;
  left: -14px;
  font-size: 200px;
  line-height: 156px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.07;
  z-index: 5;
}

.header__map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  transform: translate(62px, -770px);
}

.header__map svg {
  width: 1062px;
  height: 1265px;
}

.header__arrows {
  cursor: pointer;
  position: absolute;
  left: 209px;
  bottom: 41px;
  z-index: 5;
  animation: header-arrows-animation 1.4s linear infinite;
}

@keyframes header-arrows-animation {
  0% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.7;
    transform: translateY(25px);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0px);
  }
}

.header__map-point {
  opacity: 0;
}

.first-point {
  animation: fadeIn-poit 1s forwards 1s;
}

.second-point {
  animation: fadeIn-poit 1s forwards 2s;
}

.third-point {
  animation: fadeIn-poit 1s forwards 3s;
}

.fourth-point {
  animation: fadeIn-poit 1s forwards 4s;
}

.fifth-point {
  animation: fadeIn-poit 0.7s forwards 5s;
}

.header__map .map-line {
  stroke-dasharray: 555;
  stroke-dashoffset: 555;
  animation: line-animation 2s forwards 6s;
}

@keyframes fadeIn-poit {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

.header__aside {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 169px;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  z-index: 100;
}

.header__aside-logo {
  width: 168px;
}

.logo {
  display: block;
}

.menu {
  margin-top: 118px;
}

.menu__list, .menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__item {
  margin-bottom: 37px;
}

.menu__item:hover span {
  color: #4AF6CD;
}

.menu__item span {
  margin-top: 6px;
  font-style: 12px;
  line-height: 1.16667;
  font-weight: 500;
  letter-spacing: 3px;
  color: #fff;
  transition: color 0.3s;
}

.menu__ic {
  fill: #fff;
  transition: fill 0.3s;
}

.menu__item:hover .menu__ic {
  fill: #4AF6CD;
}

.menu__ic-surf {
  width: 59px;
  height: 46px;
}

.menu__ic-travel {
  width: 50px;
  height: 32px;
}

.menu__ic-sleep {
  width: 39px;
  height: 40px;
}

.menu__ic-shop {
  width: 16px;
  height: 44px;
}

.header__search svg {
  width: 24px;
}

.header__search svg path {
  fill: #fff;
}

.header__date,
.header__location {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__date {
  bottom: 91px;
  margin-top: 31px;
}

.header__date-num {
  font-size: 72px;
  line-height: 0.88889;
  font-weight: 800;
}

.header__date-row {
  display: flex;
  margin-top: 6px;
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 300;
}

.header__date-year {
  position: relative;
  margin-left: 21px;
}

.header__date-year::before {
  content: "|";
  position: absolute;
  left: -13px;
}

.header__location {
  bottom: 45.8px;
  display: flex;
  align-items: center;
}

.header__location svg {
  width: 10.84px;
  height: 12.84px;
}

.header__location span {
  display: inline-block;
  margin-left: 8.1px;
  font-size: 12px;
  line-height: 1.16667;
  font-weight: 300;
  letter-spacing: 1.05px;
}

.header__slider-item {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__slider-item.swiper-slide {
  height: 100vh;
}

.header__slider-nav {
  position: absolute;
  top: 40px;
  right: 80.35px;
}

.header__slider-nav svg {
  display: inline-block;
  width: 24.15px;
}

.swiper-container-horizontal > .header__slider-pagination {
  position: absolute;
  right: 80px;
  bottom: 31px;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  width: auto;
}

.swiper-container-horizontal > .header__slider-pagination .custom-pagination__item {
  margin: 0;
  margin-left: 40px;
  width: 200px;
}

.custom-pagination__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  width: 200px;
}

.custom-pagination__item:first-child {
  margin-left: 0;
}

.custom-pagination__line {
  margin-bottom: 6px;
  height: 4px;
  width: 100%;
  background-color: #fff;
  transition: background-color 0.6s;
}

.swiper-pagination-bullet-active .custom-pagination__line {
  background-color: #4AF6CD;
}

.custom-pagination__num {
  font-size: 24px;
  line-height: 1.41667;
  font-weight: 800;
}

.custom-pagination__text {
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 300;
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 115.85px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.slider-item__info-title {
  margin-top: 5px;
  margin-bottom: 48px;
}

.slider-item__info-text {
  margin-top: 8px;
}

.slider-item__info-btn {
  display: inline-block;
  margin-top: 27px;
  width: 24.15px;
}

html, body {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

/*--------------------------------Common--------------------------------*/
.title-1, .title-2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}

.title-1 {
  font-size: 80px;
  line-height: 1.075;
}

.title-2 {
  font-size: 40px;
  line-height: 1;
}

.subtitle-left,
.subtitle-right {
  position: relative;
  font-size: 22px;
  line-height: 1.45455;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  opacity: 0.5;
}

.subtitle-left::before,
.subtitle-right::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.5px);
  right: calc(100% + 24px);
  height: 1px;
  width: 80px;
  background-color: #fff;
  opacity: 0.5;
}

.slider-nav {
  display: flex;
  z-index: 5;
}

.slider-nav > * {
  cursor: pointer;
}

.slider-nav__next {
  margin-left: 20.35px;
}

.swiper-pagination-bullet {
  margin: 0;
  width: auto;
  height: auto;
  border-radius: 0;
  background: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: transparent;
}

/*--------------------------------Other--------------------------------*/
