@import "./../_mixsins";

header {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.header__title {
	position: absolute;
	top: 15px;
	left: -14px;
	font-size: 200px;
	line-height: 156px;
	font-weight: 800;
	color: $color1;
	text-transform: uppercase;
	opacity: 0.07;
	z-index: 5;

	@include desctop-min {
		font-size: 140px;
	}

	@include mobile {
		font-size: 104px;
	}
}

.header__map {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 4;
	transform: translate(62px, -770px);
	
	svg {
		width: 1062px;
		height: 1265px;
	}

	@include table {
		transform: translate(93px, -770px);
	}

	@include mobile {
		transform: translate(95px, -440px);

		svg {
			width: 643px;
			height: auto;
		}
	}
}

.header__arrows {
	cursor: pointer;
	position: absolute;
	left: 209px;
	bottom: 41px;
	z-index: 5;
	animation: header-arrows-animation 1.4s linear infinite;

	@keyframes header-arrows-animation {
		0% {
			opacity: 0.1;
		}
		75% {
			opacity: 0.7;
			transform: translateY(25px);
		}
		100% {
			opacity: 0.2;
			transform: translateY(0px);
		}
	}

	@include desctop-mid {
		left: 150px;
	}

	@include desctop-min {
		left: 130px;
	}

	@include table {
		left: 30px;
	}

	@include mobile {
		display: none;
	}
}

.header__map {
	&-point {
		opacity: 0;
	}
	@at-root .first-point {
		animation: fadeIn-poit 1s forwards 1s;
	}

	@at-root .second-point {
		animation: fadeIn-poit 1s forwards 2s;
	}

	@at-root .third-point {
		animation: fadeIn-poit 1s forwards 3s;
	}

	@at-root .fourth-point {
		animation: fadeIn-poit 1s forwards 4s;
	}

	@at-root .fifth-point {
		animation: fadeIn-poit 0.7s forwards 5s;
	}

	.map-line {
		stroke-dasharray: 555;
		stroke-dashoffset: 555;
		animation: line-animation 2s forwards 6s;
	}

	@keyframes fadeIn-poit {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes line-animation {
		to {
			stroke-dashoffset: 0;
		}
	}
}

.header__aside {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 169px;
	border-right: 1px solid rgba(255, 255, 255, 0.25);
	z-index: 100;

	@at-root .logo {
		display: block;
	}

	@at-root .menu {
		margin-top: 118px;

		&__list,
		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__item {
			margin-bottom: 37px;
			text-transform: lowercase;

			&:hover span {
				color: $color3;
			}

			span {
				margin-top: 6px;
				font-style: 12px;
				line-height: (14/12);
				font-weight: 500;
				letter-spacing: 3px;
				color: $color1;
				transition: color $duration;
			}
		}

		&__ic {
			fill: $color1;
			transition: fill $duration;
		
			.menu__item:hover & {
				fill: $color3;	
			}

			&-surf {
				width: 59px;
				height: 46px;
			}

			&-travel {
				width: 50px;
				height: 32px;
			}

			&-sleep {
				width: 39px;
				height: 40px;
			}

			&-shop {
				width: 16px;
				height: 44px;
			}
		}

		@include desctop-mid {
			margin-top: 40px;

			&__item {
				margin-bottom: 30px;
			}
		}

		@include desctop-min {
			&__item {
				margin-bottom: 15px;
			}
		}

		@include table {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 100;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba(0, 0, 0, 0.95);
			opacity: 0;
			pointer-events: none;
			transition: opacity $duration;

			&.active {
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	@include desctop-mid {
		width: 100px;
	}

	@include table {
		bottom: auto;
		flex-direction: row;
		padding-right: 20px;
		padding-bottom: 20px;
		width: auto;
		background-color: rgba(#fff, 0.2);
		border-radius: 0 0 10px  0;
		border: none;

		@at-root .logo {
			width: 85px;
		}
	}

	@include mobile {
		flex-direction: column;
		padding-right: 0;
		width: 90px;

		@at-root .logo {
			width: auto;
		}
	}
}

.header__search {
	 svg {
		 width: 24px;

		 path {
			 fill: $color1;
		 }
	 }

	 @include table {
		 margin-left: 25px;
	 }

	 @include mobile {
		margin: 18px 0;
	}
}

.header__date, 
.header__location {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.header__date {
	bottom: 91px;
	margin-top: 31px;

	&-num {
		font-size: 72px;
		line-height: (64/72);
		font-weight: 800;
	}

	&-row {
		display: flex;
		margin-top: 6px;
		font-size: 16px;
		line-height: (19/16);
		font-weight: 300;
	}

	&-year {
		position: relative;
		margin-left: 21px;
		

		&::before {
			content: "|";
			position: absolute;
			left: -13px;
		}
	}
	
	@include desctop-mid {
		bottom: 50px;

		&-num {
			font-size: 58px;
		}
	}

	@include table {
		position: static;
		margin-top: 0;
		margin-left: 25px;
		transform: none;
	}

	@include mobile {
		margin-left: 0;
		margin-bottom: 15px;

		&-num {
			font-size: 42px;
			text-align: center;
		}

		&-row {
			margin-top: 2px;
			font-size: 14px;
		}

		&-year {
			margin-left: 16px;
			
	
			&::before {
				left: -10px;
			}
		}
	}
}

.header__location {
	bottom: 45.8px;
	display: flex;
	align-items: center;

	svg {
		width: 10.84px;
		height: 12.84px;
	}

	span {
		display: inline-block;
		margin-left: 8.1px;
		font-size: 12px;
		line-height: (14/12);
		font-weight: 300;
		letter-spacing: 1.05px;
	}

	@include desctop-mid {
		bottom: 20px;
	}

	@include table{
		position: static;
		margin-left: 25px;
		transform: none;
	}

	@include mobile {
		margin-left: 0;
		span {
			font-size: 10px;
		}
	}
}

.header__slider {
	
	&-item {
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		&.swiper-slide {
			height: 100vh;
		}
	}

	&-nav {
		position: absolute;
		top: 40px;
		right: 80.35px;

		svg {
			display: inline-block;
			width: 24.15px;
		}
	}

	@at-root .swiper-container-horizontal > &-pagination {
		position: absolute;
		right: 80px;
		bottom: 31px;
		z-index: 2;
		display: flex;
		justify-content: flex-end;
		width: auto;

		@include desctop-min {
			right: 25px;
		}

		@include table {
			bottom: 15px;
		}

		@include mobile {
			display: none;
		}
	}

	@at-root  .swiper-container-horizontal > &-pagination .custom-pagination__item{
		margin: 0;
		margin-left: 40px;
		width: 200px;

		@include desctop-min {
			left: 80px;
			width: 150px;
		}

		@include table {
			width: 130px;
		}
	}

	@at-root .custom-pagination {
		&__item {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-left: 40px;
			width: 200px;
			
			&:first-child {
				margin-left: 0;
			}
		}

		&__line {
			margin-bottom: 6px;
			height: 4px;
			width: 100%;
			background-color: $color1;
			transition: background-color 0.6s;

			.swiper-pagination-bullet-active & {
				background-color: $color3;
			}
		}

		&__num {
			font-size: 24px;
			line-height: (34/24);
			font-weight: 800;
		}

		&__text {
			font-size: 16px;
			line-height: (19/16);
			font-weight: 300;
		}

		@include table {
			&__line {
				height: 4px;
			}

			&__num {
				font-size: 18px;
			}

			&__text {
				font-size: 14px;
			}
		}
	}

	@at-root .slider-item {
		&__info {
			position: absolute;
			right: 80px;
			bottom: 115.85px;

			&-title {
				margin-top: 5px;
				margin-bottom: 48px;
			}
			
			&-text {
				margin-top: 8px; 
			}

			&-btn {
				display: block;
				margin-top: 27px;
				margin-left: auto;
				width: 24.15px;
			}
		}

		@include desctop-min {
			&__info {
				right: 25px;

				&-title {
					margin-bottom: 20px;
				}
			}
		}

		@include table {
			&__info {
				bottom: 80px;

				&-btn {
					margin-top: 20px;
					width: 21px;
				}
			}
		}

		@include mobile {

			&__info {
				bottom: 20px;

				&-btn {
					margin-top: 15px;
					width: 18px;
				}
			}
		}
	}

	@include desctop-min {
		&-nav {
			top: 120px;
			right: 25px;
		}
	}
}